[synapse]
name=Synapse $releasever - $basearch
baseurl=##repos_synapse##
failovermethod=priority
enabled=1
gpgcheck=0

[synapse-source]
name=Synapse $releasever - source
baseurl=##repos_synapse##SRPMS/
failovermethod=priority
enabled=0
gpgcheck=0
