[comodit]
name=Comodit $releasever - $basearch
baseurl=##repos_comodit##
failovermethod=priority
enabled=1
gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-COMODIT

[comodit-source]
name=Comodit $releasever - source
baseurl=##repos_comodit##SRPMS/
failovermethod=priority
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-COMODIT
gpgcheck=0
